* {
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(5, 154, 5);
}

.card {
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 150px;
    border-color: black;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    padding: 10px;
    
}

.card-corazon.h1 {
    font-size: 6rem;
    justify-content: space-between;
   
}

.card-corazon.end,
h1 {
    font-size: 6rem;
    justify-content: space-between;
    
}

h2{
    color: black;
    font-size: 6rem;
}
.btn{
    margin-right: 280px;
    font-family: 'Playfair Display', serif;
}

.rojo{
    color: red;
}

.input{
    margin-right: 150px;
}

#widthInput, #heightInput{
    background-color: rgb(250, 250, 250);
    border-color: black;
    border-width: 2px;
}